Wpf_tetris/Service References/OnlineScores/OnlineScores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetScores">
        <s:complexType />
      </s:element>
      <s:element name="GetScoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoresResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PutScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="level" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="score" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PutScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PutScoreResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetScoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetScores" />
  </wsdl:message>
  <wsdl:message name="GetScoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoresResponse" />
  </wsdl:message>
  <wsdl:message name="PutScoreSoapIn">
    <wsdl:part name="parameters" element="tns:PutScore" />
  </wsdl:message>
  <wsdl:message name="PutScoreSoapOut">
    <wsdl:part name="parameters" element="tns:PutScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="OnlineScoresSoap">
    <wsdl:operation name="GetScores">
      <wsdl:input message="tns:GetScoresSoapIn" />
      <wsdl:output message="tns:GetScoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutScore">
      <wsdl:input message="tns:PutScoreSoapIn" />
      <wsdl:output message="tns:PutScoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnlineScoresSoap" type="tns:OnlineScoresSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScores">
      <soap:operation soapAction="http://tempuri.org/GetScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutScore">
      <soap:operation soapAction="http://tempuri.org/PutScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnlineScoresSoap12" type="tns:OnlineScoresSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScores">
      <soap12:operation soapAction="http://tempuri.org/GetScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutScore">
      <soap12:operation soapAction="http://tempuri.org/PutScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineScores">
    <wsdl:port name="OnlineScoresSoap" binding="tns:OnlineScoresSoap">
      <soap:address location="http://allegiancestats.com/austrisscores/OnlineScores.asmx" />
    </wsdl:port>
    <wsdl:port name="OnlineScoresSoap12" binding="tns:OnlineScoresSoap12">
      <soap12:address location="http://allegiancestats.com/austrisscores/OnlineScores.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>